
body{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
    margin: 10px;
    padding: 30px;

}
.img {
    /* background: url('https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); */
    /* background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fadorable-home.com%2Fapartments%2Fexquisite-modern-dark-interiors-54184%2F&psig=AOvVaw1zo2uqoAwtEwimaupgCXHz&ust=1663959076865000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNCe_-uIqfoCFQAAAAAdAAAAABAE'); */
      background-image: url(/image1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size:100% 100%;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(15px); */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }